/* ------------MAIN-------------- */
.main__section {
  margin: 75px 75px;
}

.main__img {
  height: 380px;
}

/* IMG SUPERIOR */

.main__imgsuperior--inicio {
  background-image: url(../img/fondoinicio.jpg);
  color: #000000;
  height: 500px;
  width: 100vw;
  background: {
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
  }
}

.main__imgsuperior--servicios {
  background-image: url(../img/mantenimientoind.jpg);
  color: #000000;
  height: 500px;
  width: 100vw;
  background: {
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
  }
}

.main__imgsuperior--noticias {
  background-image: url(../img/noticias.jpg);
  color: #000000;
  height: 500px;
  width: 100vw;
  background: {
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
  }
}

.main__imgsuperior--clientes {
  background-image: url(../img/estrechodemanos.jpg);
  color: #000000;
  height: 500px;
  width: 100vw;
  background: {
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
  }
}

.main__imgsuperior--bna {
  background-image: url(../img/banconacion.jpg);
  color: #000000;
  height: 500px;
  width: 100vw;
  background: {
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
  }
}

.main__imgsuperior--contacto {
  background-image: url(../img/contacto.jpg);
  color: #000000;
  height: 500px;
  width: 100vw;
  background-position-y: 1.2rem ;
  background: {
    size: cover;
    repeat: no-repeat;
    attachment: fixed;
  }
}
/* TITULO */

.main__titulo {
  font-family: $font-bebas, cursive;
  font-size: map-get($estilo, tamFuente);
  color: map-get($estilo, colorNegro);
}

.main__titulo--section {
  font-family: $font-bebas, cursive;
  font-size: 48px;
}

.main__titulo--chico {
  font-size: 32px;
  margin: 30px 0px 20px;
}

.main__titulo--medio {
  font-family: $font-bebas, cursive;
  font-size: 40px;
  color: #000000;
}

.main__titulo--grande {
  font-family: $font-bebas, cursive;
  font-size: 90px;
  padding: 200px;
  text-align: center;
  text-shadow: #ffff 5px 2px 3px;
}
.main__titulo--grandebna {
  font-family: $font-bebas, cursive;
  font-size: 90px;
  padding: 150px;
  text-align: center;
  text-shadow: #ffff 5px 2px 3px;
}

/* TEXTO */

.main__texto--inicio {
  font-family: "Bebas Neue", cursive;
  font-size: 58px;
  width: 40%;
  text-align: start;
  padding: 90px 0px 0px 30px;
  text-shadow: #ffff 5px 2px 3px;
}

.main__texto {
  font-size: 25px;
  li {
    list-style: disc;
  }
}

.main__texto--contacto {
  font-size: 25px;
  text-align: left;
}

/* MAIN CUALIDADES */

.main__cualidades {
  display: grid;
  padding: 50px 184px 150px 184px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 270px;
  justify-self: start;
  align-self: stretch;
  column-gap: 30px;
  flex-wrap: wrap;
  img {
    margin: 20px 0px 15px 0px;
    height: 60px;
  }
}

.main__cualidades--titulo {
  font-family: $font-bebas, cursive;
  font-size: 35px;
  color: $color-azul;
  padding: 10px 0px;
}

.main__cualidades--texto {
  font-size: 18px;
  font-weight: bold;
  padding: 10px 0px;
  text-align: start;
  line-height: 23px;
}

.main__contenedor {
  padding: 40px 10%;
}

/* GRILLA EXPERIENCIA */

.main__contenedor--grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-self: center;
  grid-template-areas: "text img";
}

/* NCLIENTES INDEX */

.main__titulo--nclientes {
  font-family: $font-bebas, cursive;
  font-size: 52px;
  text-align: center;
  color: #000000;
}

.main__texto--nclientes {
  font-size: 25px;
  text-align: center;
  margin: 45px 0px;
}

.main__img--nclientes {
  display: flex;
  justify-content: center;
}

.main__img--nclientesmovil {
  display: none;
}

/* SERVICIOS */

.main__titulo--servicios {
  font-family: $font-bebas, cursive;
  font-size: 55px;
  color: #000000;
  margin: 65px 0px 0px;
  text-align: center;
}

/* GRILLA SERVICIOS */

.main__img--grid {
  height: 380px;
  margin: 10px;
  grid-area: img;
}

.main__texto--grid {
  font-size: 25px;
  grid-area: text;
}

.main__texto--grid2 {
  grid-area: z;
}

.main__img--grid2 {
  height: 380px;
  margin: 10px;
  grid-area: y;
}

.main__contenedor--servicios {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-self: center;
  grid-template-areas: "text img";
}

.main__contenedor--servicios2 {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  justify-self: center;
  grid-template-areas: "y z";
}

/* GRILLA NOTICIAS */

.main__grilla--noticias {
  display: grid;
  padding: 20px;
  grid-template-columns: 400px 400px;
  grid-template-areas:
    "co2 nivel"
    "a ambiente"
    "b riesgoso"
    "c muyriesgoso";
}

@mixin grilla {
  font-size: 28px;
  border: 1px solid #000000;
  padding: 10px;
}

.main__grilla--1 {
  @include grilla;
  grid-area: co2;
}

.main__grilla--2 {
  @include grilla;
  grid-area: a;
}

.main__grilla--3 {
  @include grilla;
  grid-area: b;
}

.main__grilla--4 {
  @include grilla;
  grid-area: c;
}

.main__grilla--5 {
  @include grilla;
  grid-area: nivel;
}

.main__grilla--6 {
  @include grilla;
  grid-area: ambiente;
}

.main__grilla--7 {
  @include grilla;
  grid-area: riesgoso;
}

.main__grilla--8 {
  @include grilla;
  grid-area: muyriesgoso;
}

/* NUESTROS CLIENTES */

.main__texto--clientes {
  font-size: 25px;
  text-align: center;
}

.main__titulo--clientes {
  font-family: $font-bebas, cursive;
  font-size: 40px;
  color: #000000;
  margin: 45px 0px;
  text-align: center;
}

.main__img--clientes {
  display: flex;
  justify-content: center;
  height: 400px;
  margin: 50px;
}

/* BANCO NACION */

.main__credito {
  margin: 75px 75px;
  text-align: center;
}

.titulo__credito {
  display: flex;
  flex-direction: row;
  margin: 40px 0px;
  justify-content: center;
}

.main__img--credito {
  width: 50px;
}

.main__titulo--credito {
  font-size: 38px;
}

.main__link--credito {
  font-size: 25px;
  margin: 30px 75px;
}

/* BOTON BNA ANIMADO */

.main__btn {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  .btn-bna {
    background: linear-gradient(102deg, #1d2ec4 40%, #2f19c0 60%);
    color: #ffffff;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 0.25rem;
    min-width: 200px;
    text-decoration: none;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.5);
    animation: pulse 1.9s infinite;
  }
}
@keyframes pulse {
  0% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 25px rgba(0, 0, 0, 0.1);
  }
  100% {
    transform: scale(0.99);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

/* CONTACTO */

.main__texto--contacto {
  font-size: 25px;
  text-align: left;
}

.main__texto--centrado {
  text-align: center;
  font-size: 25px;
}

.main__formulario {
  background: #C9CCD3;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
  background-blend-mode: lighten;
  box-shadow: 14px 19px 37px 11px rgba(30, 30, 60, 0.32);
  border-radius: 30px;
  padding: 30px;
  width: 90%;
  font-size: 25px;
  margin-bottom: 6rem;
}

.main__card{
  background: #C9CCD3;
  background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
  background-blend-mode: lighten;
  box-shadow: 15px 16px 43px -11px rgba(30, 30, 60, 0.23);
  border-radius: 30px;
  padding: 30px;
  width: 90%;
  margin: 40px auto 40px auto;
}

#btn-enviar {
  margin: 1rem 0rem;
  cursor: pointer;
  background-color: $color-azul;
}

.contenedor__contacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#btn__redes {
  margin: 1.5rem 2rem;
}
